<div class="container">
<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>

  <%= simple_form_for @booking do |f| %>
    <%= f.input :status, collection: ["Booking Accepted", "Booking Denied"] %>
    <%= f.submit "Respond to booking request", class: "btn btn-primary" %>
    <% end %>
</div>
