// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.padding-top-70 {
  padding-top: 70px;
}

.fixed-70 {
  position: fixed;
  top: 50px;
  width: 100%;
}
